@{
    ViewBag.Title = "Home Page";
}

<main>
    <h3>Benvenuto nella pagine multe e contravvenzioni della Poliza di Stato</h3>
    <div class="d-flex justify-content-center">

    <img class="indexImg" src="~/Content/img/logoPolizia.png" />
    </div>
</main>